/* Changes background colour for the entire page. */
body {
    background-color: #fbfbfb;
}

/* Styles the header. */
.header {
    position: top;
    background-color: #F9FBB2;
    padding: 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

/* Class used to create a white box with the specified style */
.box-white {
    border-radius: 15px;
    padding: 5px, 5px, 5px, 5px;
    float: center;
    background-color: #66ff00;
    text-align: center;
}

/* Class used to create a green box with the specified style */
.box-green {
    border-radius: 15px;
    padding: 5px, 5px, 5px, 5px;
    float: center;
    background-color: #489414;
    text-align: center;
}

/* Styles the top navigation bar. */
.topnav {
    overflow: hidden;
    background-color: white;
}

/* Sets out text styling and spacing. */
.topnav a {
    float: left;
    display: block;
    color: #BA7BA1;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
}

/* Darkens a specific topnav cell when the user hovers over it. */
.topnav a:hover {
    background-color: #F9FBB2;
    color: black;
}

/* styles the fixed footer used at the bottom of every page */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #e0dcdcb2;
	text-align: left;
    color: #BA7BA1;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
